{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Вступ НАДПСУ</title>
    <link rel="stylesheet" href="{% static 'css/meds.css' %}">
    <style>
        body{
            background-color: #185831;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Наявні медичні документи</h1>
        
            <div class="checkbox-container">
                <p>📍{{ m.pos_v }}</p>
                
                <label for="front-side">Тимчасове посвідчення військовозобов’язаного або посвідчення про приписку до призовних дільниць, або військовий квиток, або службове посвідчення</label>
            </div>
              
        
            <div class="checkbox-container">
                <p>📍{{ m.psix }}</p>
                <label for="front-side">Довідка про проходження попереднього, періодичного та позачергового психіатричних оглядів, у тому числі на предмет вживання психоактивних речовин (форма  первинної облікової документації «100-2/о)</label>
            </div>

            <div class="checkbox-container">
                <p>📍{{ m.protu_tub }}</p>
                <label for="front-side">Довідка з протитуберкульозного диспансеру про перебування на диспансерному обліку</label>
            </div>

            <div class="checkbox-container">
                <p>📍{{ m.antutila }}</p>
                <label for="front-side">Довідка про результати досліджень на антитіла до ВІЛ методом імуноферментного аналізу</label>
            </div>

            <div class="checkbox-container">
                <p>📍{{ m.skira }}</p>
                <label for="front-side">Довідка зі шкірно-венерологічного диспансеру про наявність шкірно-венерологічних захворювань та перебування на диспансерному обліку</label>
            </div>

            <div class="checkbox-container">
                <p>📍{{ m.f025 }}</p>
                <label for="front-side">Медична карта амбулаторного хворого (форма 025/о) (з дня народження)</label>
            </div>

            <div class="checkbox-container">
                <p>📍{{ m.f027 }}</p>
                <label for="front-side">Витяг з медичної карти амбулаторного хворого (форма 027-о) з переліком перенесених захворювань (у тому числі інфекційних) за останніх 5 років</label>
            </div>

            <div class="checkbox-container">
                <p>📍{{ m.f063 }}</p>
                <label for="front-side">Довідка про профілактичні щеплення (форма 063-о) відповідно календаря щеплень, засвідчений печаткою закладу охорони здоров’я</label>
            </div>

            <div class="checkbox-container" style="margin-bottom: 20px;">
                <p>📍</p>
                <label for="front-side">Результати лабораторних досліджень (не пізніше місячного строку):</label>
            </div>
              
            <div class="input-fields">
                <label style="margin-left: auto;" for="date1">◾ Загальний аналіз крові:</label><br>
                <p>{{ m.an_kr }}</p>
            </div>

            <div class="input-fields">
                <label style="margin-left: auto;" for="date1">◾ Загальний аналіз сечі:</label><br>
                <p>{{ m.an_s }}</p>
            </div>

            <div class="input-fields">
                <label style="margin-left: auto;" for="date1">◾ Біохімічний аналіз крові (на цукор, білірубін, АЛТ):</label><br>
                <p>{{ m.bio_h }}</p>
            </div>

            <div class="input-fields">
                <label style="margin-left: auto;" for="date1">◾ Cерологічний аналіз крові на антитіла до вірусу імунодефіциту людини (ВІЛ):</label><br>
                <p>{{ m.ser_an_k }}</p>
            </div>
            
            <div class="input-fields">
                <label style="margin-left: auto;" for="date1">◾ Антиген до вірусу гепатиту В (HBsAg):</label><br>
                <p>{{ m.ant_b }}</p>
            </div>

            <div class="input-fields">
                <label style="margin-left: auto;" for="date1">◾ Антитіла до вірусу гепатиту С (ati-HCV):</label><br>
                <p>{{ m.ant_c }}</p>
            </div>

            <div class="input-fields">
                <label style="margin-left: auto;" for="date1">◾ Реакція мікропреципітації з кардіоліпіновим антигеном (RW):</label><br>
                <p>{{ m.rw }}</p>
            </div>

            <div class="input-fields">
                <label style="margin-left: auto;" for="date1">◾ Флюорографічне (рентгенологічне) дослідження органів грудної клітки (не пізніше шестимісячного строку):</label><br>
                <p>{{ m.flu }}</p>
            </div>

            <div class="input-fields">
                <label style="margin-left: auto;" for="date1">◾ ЕКГ (не пізніше місячного строку):</label> <br>
                <p>{{ m.ekg }}</p>
            </div>
        <div class="input-fields">
                <label style="margin-left: auto;" for="date1">◾Дата :</label> <br>
                <p>{{ m.data }}</p>
            </div>
            
        
    </div>
</body>
</html>

